@model IEnumerable<website.Models.Studentdata.StudentViewModel>

<h2>Student Details</h2>

<table class="table" border="2">
    <thead>
        <tr>
            <th>Name</th>
            <th>Father Name</th>
            <th>Stream</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.studentVm.Name</td>
            <td>@item.studentInfoVm.FatherName</td>
            <th>@item.studentVm.Stream</th>
            <th>@item.studentInfoVm.Address</th>
        </tr>
}
    </tbody>
</table>